In [16]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.types import *

In [17]:
config = SparkConf().setAppName("Student Data").setMaster("local")
config.set("spark.default.parallelism", "4")
sc = SparkContext.getOrCreate(conf = config);
spark = SparkSession.builder.getOrCreate()

In [18]:
schema = StructType([StructField ("uni", StringType(), True),
                     StructField ("last_name", StringType(), True),
                     StructField ("first_name", StringType(), True),
                     StructField("department_name", StringType(), True), 
                     StructField("origin_country", StringType(), True), 
                     StructField("gpa", StringType(), True)])
rdd = sc.textFile("./data.txt").map(lambda field: field.split(" ")).map(lambda field: [field[i] for i in [0, 1, 2, 3, 4]])

In [19]:
df = spark.createDataFrame(rdd, schema)
df.show()

+---------+----------+---------------+--------------+------+
|last_name|first_name|department_name|origin_country|   gpa|
+---------+----------+---------------+--------------+------+
|    rh123|  Haribabu|         Roshan|            CS| India|
|    ad241|     Deets|            Ana|            EE|    US|
|    mc231|    Cobart|       Michelle|            CS|Mexico|
|    ax227|      Wolf|      Alexander|          IEOR|Mexico|
|    mp309|    Petrit|         Monica|            CS|Canada|
|    am351|  Martinez|        Alfredo|            EE| India|
|    ar180|     Ramos|            Ave|            CS|    US|
|    mp219|    Raymon|           Mike|          IEOR|Mexico|
|    sg222|      Grey|            Sam|            EE|    US|
|    cc177|  Cardenas|          Caleb|            CS| India|
+---------+----------+---------------+--------------+------+

In [23]:
df.write.saveAsTable('student_table')

In [24]:
result = spark.sql("SELECT * FROM student_table where department_name = 'CS' and gpa > 3.75")
result.show()

+---------+----------+---------------+--------------+---+
|last_name|first_name|department_name|origin_country|gpa|
+---------+----------+---------------+--------------+---+
+---------+----------+---------------+--------------+---+

In [ ]:
result = spark.sql("select country, count(id) from student_schema where department_name = 'CS' and gpa > 3.75 group by country")
result.show()

In [15]:
df.filter((df.age>=21)&(df.state.contains('NYC'))).show()

+-------------+---+------+-----+
|    last_name|age|gender|state|
+-------------+---+------+-----+
|     Haribabu| 24|     M|  NYC|
|Koottiyaniyel| 25|     M|  NYC|
|         Nair| 22|     F|  NYC|
+-------------+---+------+-----+